@font-face {
    font-family: 'onion';
    src:url('./onion.eot');
    src:url('./onion.eot?#iefix') format('embedded-opentype'),
        url('./onion.woff') format('woff'),
        url('./onion.ttf') format('truetype'),
        url('./onion.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-onion {
    font-family: 'onion';
    display: inline-block;
    position: relative;
    text-decoration: none;
    zoom: 1;
    vertical-align: middle;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-onion:before {
    content: "\e600";
    font-family: 'onion';
    position: relative;
    left: 0;
    top: 0;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    zoom: 1;
    vertical-align: middle;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}
