<link rel="import" href="/lib/polymer/polymer.html">
<link rel="import" href="/lib/iron-image/iron-image.html">
<link rel="import" href="/lib/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="/lib/neon-animation/neon-animations.html">
<link rel="import" href="/lib/iron-dropdown/iron-dropdown.html">

<dom-module id="onion-userbox">
	<style>
		:host {
			display: block;
		}

		button {
			background-color: transparent;
			color: inherit;
			font-size: inherit;
			border: none;
			cursor: pointer;
		}

		#gravatar {
			height: 24px;
			width: 24px;
			border-radius: 12px;
		}

		#name {
			font-size: 18px;
			margin: 0 10px;
		}

		#user-menu {
			color: #333;
			font-size: 16px;
			border-radius: 5px;
			list-style-type: none;
			padding-left: 0;
			padding: 5px;
			background-color: rgba(255, 255, 255, 0.85);
			box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
		}
			#user-menu > core-menu {
				margin: 0;
			}
	</style>

	<template>
		<div on-tap="open">
            <button class="dropdown-trigger layout horizontal center">
            	<iron-image id="gravatar" preload sizing="contain" src="//www.gravatar.com/avatar/c27f67acc7d4423d41e1a18bc6c1c02a?d=mm&s=96"></iron-image>
            	<div id="name" class="layout horizontal center">Boken Lin</div>
            	<div class="glyphicons glyphicons-chevron-down layout horizontal center"></div>
            </button>
        </div>
        <iron-dropdown id="dropdown" open-animation-config="[[openAnimationConfig]]" close-animation-config="[[closeAnimationConfig]]">
	        <ul class="dropdown-content" id="user-menu">
				<li><a href="javascript:void(0)">One</a></li>
				<li><a href="javascript:void(0)">Two</a></li>
				<li><a href="javascript:void(0)">Three</a></li>
	        </ul>
        </iron-dropdown>
	</template>

	<script>
		'use strict';

		var ready = function () {

		};

		var open = function () {
			this.$.dropdown.open();
		};

		Polymer({
			is: 'onion-userbox',
			ready: ready,
			open: open,
			properties: {
				openAnimationConfig: {
                    type: Array,
                    value: [{
                        name: 'fade-in-animation',
                        timing: {
                            delay: 150,
                            duration: 50
                        }
                    }]
                },
                closeAnimationConfig: {
                    type: Array,
                    value: [{
                        name: 'fade-out-animation',
                        timing: {
                            duration: 200
                        }
                    }]
                }
			}
		});
	</script>
</dom-module>
