<link rel="import" href="/lib/polymer/polymer.html">
<link rel="import" href="/lib/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="/lib/iron-pages/iron-pages.html">

<dom-module id="onion-console">
	<style>
		:host {
			display: block;
			height: 100%;
			width: 100%;
			overflow: hidden;
		}

		#appContainer {
			width: 100%;
			height: 100%;
		}
	</style>

	<template>
		<iron-pages id="appContainer" attr-for-selected="id" selected="{{currentApp}}"></iron-pages>
		<div id="serviceContainer" class="hidden"></div>
	</template>

	<script>
		'use strict';

		var services = {};

		var launchService = function (serviceId, callback) {
			callback = callback || this.noop;

			if (!services[serviceId]) {
				this.importHref(['/services/' + serviceId + '.html'], function () {
					var serviceElement = document.createElement(serviceId);
					Polymer.dom(this.$.serviceContainer).appendChild(serviceElement);

					services[serviceId] = serviceElement;

					callback.call(this);
				});
			}
		};

		var launchApp = function (appId) {
			if (this.$.appContainer.querySelector(appId)) {
				this.currentApp = appId;
			} else {
				this.importHref(['/apps/' + appId + '/' + appId + '.html'], function () {
					var appElement = document.createElement(appId);
					appElement.setAttribute('id', appId);
					Polymer.dom(this.$.appContainer).appendChild(appElement); 

					this.currentApp = appId;
				});
			}
		};

		var ready = function () {
			window.onionConsole = this;

			this.launchService('onion-session-provider');

			this.launchService('onion-apps-provider', function () {
				this.apps = this.services['onion-apps-provider'].getApps();
			});

			// this.launchApp('onion-login');
			this.launchApp('onion-launcher');
		};

		var getService = function (e) {
			// this.launchApp(e.detail);
			console.log(e.detail);
		};

		Polymer({
			is: 'onion-console',
			noop: function () {},
			ready: ready,
			launchApp: launchApp,
			launchService: launchService,
			services: services,
			getService: getService
		});
	</script>
</dom-module>
