<link rel="import" href="/lib/polymer/polymer.html">
<link rel="import" href="/lib/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="/lib/iron-pages/iron-pages.html">

<link rel="import" href="./onion-login.html">
<link rel="import" href="./onion-launcher.html">
<link rel="import" href="../services/onion-apps-provider.html">

<dom-module id="onion-console">
	<style>
		:host {
		}

	</style>

	<template>
	    <!--Testing-Begin-->
	    <onion-login id="onin-login"></onion-login>
		<!--Testing-End-->
		<iron-pages id="appContainer" attr-for-selected="id" selected="{{currentApp}}">
			<onion-launcher id="onion-launcher" apps="{{apps}}"></onion-launcher>
		</iron-pages>
	</template>

	<script>
		'use strict';

		var ready = function () {
			this.currentApp = "onion-launcher";
			this.apps = document.createElement('onion-apps-provider').getApps();
		};


		var testListener = function(e){
			// this.launchApp(e.detail);
			console.log(e.detail);
		};

		var launchApp = function (e) {
			var	appId = e.detail.appId;

			if (this.$.appContainer.querySelector(appId)) {
				this.currentApp = appId;
			} else {
				// var self = this;

				this.importHref(['/apps/' + appId + '/' + appId + '.html'], function () {
					var appElement = document.createElement(appId);
					appElement.setAttribute('id', appId);
					Polymer.dom(this.$.appContainer).appendChild(appElement); 

					this.currentApp = appId;
				});
			}
		};

		Polymer({
			is: "onion-console",
			ready: ready,
			launchApp: launchApp,
			listeners:{
				'launchApp': 'launchApp'
			}
		});

	</script>

</dom-module>
